{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<!DOCTYPE html>
<HEAD>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</HEAD>
<div class="space">
<div class="container">
  <form class="form-horizontal" action="{{url_for('fast.CreateLeague')}}"  enctype="multipart/form-data" method="post" >
                    {{ form.hidden_tag() }}
                  {{ wtf.form_errors(form, hiddens="only") }}
                  <fieldset>
                          <legend class="text-center header">Create a League</legend>
  <div class="form-group">
    <div class="col-lg-4 col-md-4 col-sm-12">
    {{ wtf.form_field(form.leagueName) }}
  </div>
  </div>

  <div class="form-group">
    <h5><strong>Photo/Symbol of the league</strong></h5>


        {{ wtf.form_field(form.photo_league) }}

  </div>

  <div class="form-group">
    <h5><strong>Private or Public(anybody can join)</strong></h5>
    {{ wtf.form_field(form.private) }}
  </div>

  <div class="form-group">
      <h5><strong>Game Type</strong></h5>
    {{ wtf.form_field(form.gameType) }}
  </div>
  <div class="form-group">
      <h5><strong>Match Type</strong></h5>
    {{ wtf.form_field(form.matchType) }}
  </div>
  <div class="form-group">
      <h5><strong>Champion</strong></h5>
    {{ wtf.form_field(form.champion) }}
  </div>
  <div class="form-group">
    {{ wtf.form_field(form.submit) }}
  </div>


</fieldset>
</form>
</div>
</div>
{% endblock %}
