{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<div class="container well">
  <legend>League Info</legend>
  
  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">

  <img class="img-rounded" alt="Cinque Terre" width="304" height="236"
 src="{{result.url}}"></img>
 </div>
 <div "col-lg-4 col-md-4 col-sm-12">
   <p>Leage Name : {{result.league_name}}</p>
    <p>Number of Team : {{result.number_of_team}}</p>
     <p>League Type: {{result.league_type}}</p>
      <p>Game Type : {{result.game_type}}</p>
        <p>Match Type : {{result.match_type}}</p>
       <a href="{{url_for('fast.EditLeague')}}" class="btn btn-lg btn-success"   >Edit</a>

 </div>
 </div>
</div>

{% endblock %}
